/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* Edit Component Page and Add Component Page   */

.main-editFlexDiv{
  display: flex;
  justify-content: center;
}
.sub-editFlexDiv{
  width: 679px;
  margin:40px 0 0 0;
  /* padding: 13px;
   border-radius: 8px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important; */
}
.edit-title{
  margin: 55px 18% 0 18%;
}
.edit-title .css-1rs9swf-euiText-m{
  font-size: 22px;
  font-weight: 600;
}

.sub-editFlexDiv .css-ylztl4-euiFlexGroup-responsive-l-flexStart-center-row{
  margin: 14px 0px 0px 0px;
}
.continentName-grp .css-9sbomz-euiFlexItem-grow-1{
 margin: 0 0 0 136px;
}
.continentPopulation-grp .css-9sbomz-euiFlexItem-grow-1{
 margin: 0 0 0 137px;
}
.continentArea-grp .css-9sbomz-euiFlexItem-grow-1{
  margin: 0 0 0 180px;
}
.continentDensity-grp .css-9sbomz-euiFlexItem-grow-1{
  margin: 0 0 0 118px;
}
.continentCountry-grp .css-9sbomz-euiFlexItem-grow-1{
  margin : 0 0 0 145px;
}
.add-tab{
  margin: 0 8%;
}
.add-title.css-1drqwgc-euiFlexGroup-responsive-l-flexStart-stretch-row{
  margin: 55px 18% 0 18%;
}
.add-title .css-1rs9swf-euiText-m{
  font-size: 22px;
  font-weight: 600;
}
@media screen and (max-width:1190px){
  .add-title.css-1drqwgc-euiFlexGroup-responsive-l-flexStart-stretch-row{
        margin: 55px 8% 0 8%;
  }

}
@media screen and (max-width:767px){

  .sub-editFlexDiv {
    width: 412px;
    margin: 40px 0 0 0;
}
  .continentName-grp .css-9sbomz-euiFlexItem-grow-1{
    
 margin:0;

 
}


.continentEdit-btn{
  flex-wrap: nowrap !important;
  justify-self: flex-end;

}
.continentPopulation-grp .css-9sbomz-euiFlexItem-grow-1{
 margin: 0;
}
.continentArea-grp .css-9sbomz-euiFlexItem-grow-1{
  margin: 0;
}
.continentDensity-grp .css-9sbomz-euiFlexItem-grow-1{
  margin: 0;
}
.continentCountry-grp .css-9sbomz-euiFlexItem-grow-1{
  margin : 0;

}
.sub-editFlexDiv .css-ylztl4-euiFlexGroup-responsive-l-flexStart-center-row{
  gap: 7px ;
}
}

/* For Continent Overview page */
.tab-component{
  margin : 28px 0px 0px 0px;
}
.tab-component .css-19u0uwx-euiTab__content-m{
  font-size: 20px;
}
.component-title{
  margin: 0 4%;
}
.overview-filterGrp{
  margin: 0 6%;
}
.overview-tableGrp{
  margin : 0 6%;
}
.component-title .css-1rs9swf-euiText-m{
  font-size: 23px;
  font-weight: 600;
}
.overview-main.css-kz3qdw-euiFlexGroup-l-flexStart-stretch-column{
  margin : 0 8%;
}
.search-continent.css-t66m08-euiFieldSearch-fullWidth{
  border-radius: 10px;
}
.overview-addBtn .css-50yc6y-euiButtonDisplay-m-defaultMinWidth-base-primary{
  border-radius: 12px;
}
.continent-table.css-9sbomz-euiFlexItem-grow-1{
  border-radius: 8px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important;
  overflow: hidden;
}
.continent-table .css-f1dlzk-euiTableHeaderCell{
  font-size: 17px;
  height: 50px;
  font-weight: 600;
}
.continent-table .css-9lvj88-euiTableRow-desktop{
  font-size: 15px;
  height : 50px;
}
.popOver-btnGroup.css-kz3qdw-euiFlexGroup-l-flexStart-stretch-column{
  gap : 0px;
}
.euiPanel.euiPanel--plain.euiPanel--paddingMedium.euiPopover__panel.css-1sdpwxj-euiPanel-grow-m-m-plain-euiPopover__panel-light-isOpen-hasTransform-bottom{
  padding : 0px;
}


/*For Dashboard Page*/
.dashboard-mainGrp{
  margin : 0 8%;
}
.dashboard-panel{
  margin : 0 8%;
}
.dashboard-title{
  margin: 0 6%;
}
.dashboard-title .css-1rs9swf-euiText-m{
  font-size: 22px;
  font-weight: 600;
}
.dashboard-panel.css-145aabb-euiPanel-grow-m-m-plain-hasShadow{
 border-radius: 14px;
}


